name: Generate PDF from README

on: 
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Generate PDF from README
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Date
        id: set_date
        run: echo "DATE=$(date +'%m-%Y')" >> $GITHUB_ENV
      - name: Publish PDF Document
        uses: baileyjm02/markdown-to-pdf@v1
        id: publish-document
        with:
          input_path: README.md
          images_dir: ./
          images_import: ./
          output_dir: generated
          table_of_contents: true
          
      - name: Upload Document
        uses: actions/upload-artifact@v4
        id: upload-document
        with:
          name: 'Awesome-Azure-Policy-${{ env.DATE }}'
          path: generated
