name: Upload Document as Artifact

on: 
  push:
    branches:
    - main
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish Document
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Publish PDF Document
        uses: shrink/actions-document-publish@v1
        id: publish-document
        with:
          sources: 'README.md'
      - name: Upload Document
        uses: actions/upload-artifact@v2
        id: upload-document
        with:
          name: 'Awesome-Azure-Policy.pdf'
          path: ${{ steps.publish-document.outputs.pdf }}
